
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ul {
    padding: 0px;
  
    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;
  
      ion-icon {
        font-size: 30px;
      }
    }
  }


.red_bg{

    background:  red;
}

body {
	margin: 0px 0 0 0;
	padding: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #444;
	font-size: 18px;
	background-color: white;
	
}

body.body{
	
	background:#ffffff;
}

a,a:hover,a:link,a:visited,a:active{	
	color: #444;
	text-decoration: none !important; 
}


.btn-success, .btn-success.focus, .btn-success:hover, .btn-success.active, .btn-success:active, .btn-success:link, .btn-success:visited, .btn-success:focus{
	background:#fffad5 !important;
	border-color: #8a8a8a !important;
	color : #444 !important;
	 
}

.form-button{
	margin-top:15px;
	
}

.panel{
	
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
	
	
	/* Pour voir les limites du formulaire */
    border: 1px solid #CCC;
    border-radius: 1em;
	background:white;
	padding:0;
}


.panel-warning > .panel-heading{
	
	background-color: #ffa98f;
	border-radius:  1em 1em 0 0;
	
}


h1 {
	color:  #444;
	letter-spacing: -3px;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 200;
	margin-bottom: 0;
	border-bottom : 1px solid white;
}

h2{
	
	padding-top: 10px;
	font-size: 20px;
	color: #602b2b;
}




.item_resto{
	
	margin:10px;
	color:black;
	
	
	
	
}

.item_resto h2{
	text-align:center;
	
	
	
	
}




.euro{
  content: '\f0f5';/** f005 pour des stars**/
  color: #FD4;
}


/*********************** FORM ****************************/

.bg-picture{ 
	/** background: url("../../public/img/bg-resto-1.jpg"); **/
	padding-top:20px;
}

.bg-white{
	
	background:white;
	padding-top:20px;
	
}




.round_box{
	    /* Pour le centrer dans la page */
    margin: 0 auto;
	height:100%;
	
	/* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
	
	
}









form div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 200px;
    text-align: center; 
}

input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}




/************* 5 ICONES DE RATING / 3 ICONES DE PRICES  ************/
div.stars, div.prices {
  display: inline-block;
}

input.star, input.price { display: none; }

label.star, label.price  {
  float: right;
  padding: 7px;
  font-size: 30px;
  color: #444;
  transition: all .2s;
  display: inline;
  width: 30px;
  text-align: left;
}

input.star:checked ~ label.star:before{
  content: '\f0f5';/** f005 pour des stars**/
  color: #FD4;
  transition: all .25s;
}

input.price:checked ~ label.price:before {
  content: '\f153';/** f005 pour des stars**/
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before{
  color: #ffe13b;
}

input.price-3:checked ~ label.price:before {
  color: #b4f830;
}



input.star-1:checked ~ label.star:before, input.star-2:checked ~ label.star:before , input.star-3:checked ~ label.star:before , input.star-4:checked ~ label.star:before, input.star-5:checked ~ label.star:before { color: #ffe13b; }


input.price-1:checked ~ label.price:before, input.price-2:checked ~ label.price:before , input.price-3:checked ~ label.price:before  { color: #ffe13b; }




label.star:hover, label.price:hover { transform: rotate(-15deg) scale(1.3); }


label.star:before {
  content: '\f0f5';
  font-family: FontAwesome;
}


label.price:before  {
  content: '\f153';
  font-family: FontAwesome;
}





/************* SELECT TYPES DE CUISINE ************/


select{
	display: inline-block;
	text-align:center;
	
}

.img-rounded  {
	max-height:150px; height:150px;
}